.App {
  text-align: center;
  background-color: #F5F5F5;
}

.siteStructure {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  align-content: space-between;
  margin: 0 auto;
  width:80%;
}

.pictureBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
}

.pictureLink {
    width:44%;
    padding: 3%;
}

.modules{
  /*padding: 30px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hoverParagraph {
   position:absolute;
   font-weight: 400;
   font-size: 200%;
   text-transform: uppercase;
   line-height: 20px;
   height: 20px;
   z-index:1;
   color:transparent;
   padding-top: 30px;
   margin:0;
}

img:hover ~ p.hoverParagraph {
  color:#0A0A0A;
  font-weight: 500;
}

img {
  width: 100%;
    -webkit-box-shadow: 12px 29px 81px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0 rgba(0,0,0,0.75);
    box-shadow: 12px 29px 81px 0 rgba(0,0,0,0.75);
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

a:hover{
  color:black;
  opacity: .5;
  z-index: 1;
}

.centerAboutSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    width:90%;
}

.centerAboutSectionImg {
    width: 40%;
    -webkit-box-shadow: 12px 29px 81px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0 rgba(0,0,0,0.75);
    box-shadow: 12px 29px 81px 0 rgba(0,0,0,0.75);
}

.centerAboutSectionImg:hover {
    transform:scale(1.02);
}

.centerAboutSectionParagraph {
    width: 40%;
    padding: 6%;
    text-transform: uppercase;
}
