.App {
  text-align: center;
  background-color: #F5F5F5;
}

.siteStructure {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  align-content: space-between;
  margin: 0 auto;
  width:80%;
}

/*
.hamburger {
  width:40px;
  height: 35px;
  border: 0;
  border-top: 5px solid #0A0A0A;
  background: transparent;
  position: relative;
  transition: 0.3s transform linear;
}

.hamburger::before, .hamburger::after {
  content:'';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  border-top: 5px solid #0A0A0A;
  transform: translateY(10px);
}

.hamburger::after {
  transform: translateY(25px);
  transition: 0.3s transform linear;
}

.hamburger:focus {
  transform: rotate(45deg) translateY(5px);
  border: none;
}

.hamburger:focus::after {
  transform: rotate(-90deg) translateX(-10px);
} */

.modules{
  position: relative;
  width:25vw;
  height: 65vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hoverParagraph {
   position:absolute;
   font-weight: 400;
   font-size: 200%;
   text-transform: uppercase;
   line-height: 20px;
   height: 20px;
   z-index:1;
   color:transparent;
   padding-top: 30px;
   margin:0;
}

img:hover ~ p.hoverParagraph {
  color:#0A0A0A;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

a:hover{
  color:black;
  opacity: .5;
  z-index: 1;
}
