.App {
  text-align: center;
  background-color: #E7E1C5;
}

.siteStructure {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  align-content: space-between;
  margin: 0 auto;
  width:80%;
}

.App-header {
  min-height: 20vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
}

.modules{
  position: relative;
  width:25vw;
  height: 65vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hoverParagraph {
   position:absolute;
  font-weight: 400;
   font-size: 200%;
   text-transform: uppercase;
   line-height: 20px;
   height: 20px;
  z-index:1;
  color:transparent;
  padding-top: 30px;
  margin:0;
}

img:hover ~ p.hoverParagraph {
  color:white;
}

img {
  width: 100%;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

a:hover{
  color:black;
  opacity: .5;
  z-index: 1;
}
