body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #141414;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Condensed', sans-serif;
}
